upstream fastcgi_backend {
    server   unix:/var/run/php-fpm.sock;
}

upstream fastcgi_backend_noxdebug {
    server   unix:/var/run/php-fpm-noxdebug.sock;
}

server {
    listen                      80 default_server;
    listen                      443 default_server http2;

    client_max_body_size        10M;

    server_name ${DOMAIN};

    set $MAGE_MODE developer;

    set $MAGENTO_ROOT ${MAGENTO_ROOT};
    set $MAGE_RUN_TYPE ${MAGE_RUN_TYPE};
    set $MAGE_RUN_CODE ${MAGE_RUN_CODE};

    include /etc/nginx/conf.d/M2/*.conf;

   add_header X-Config-By 'CopeX.io';
   add_header X-UA-Compatible 'IE=Edge,chrome=1';
   add_header X-Processing-Time $request_time;
}