server {
    listen                      80 default_server;
    listen                      443 ssl http2 default_server;

    client_max_body_size        10M;

    server_name ${DOMAIN};

    root                        ${MAGENTO_ROOT};
    index                       index.php;

    location = /js/index.php/x.js {
       rewrite ^(.*\.php)/ $1 last;
       }

    location / {
        index index.html index.php;
        try_files /maintenance.html $uri $uri/ @handler;
        expires 30d;
    }

    include /etc/nginx/conf.d/includes/*.conf;

    location /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    location  /. {
        return 404;
    }

    location @handler {
        rewrite / /index.php;
    }

    location ~ \.php/ {
        rewrite ^(.*\.php)/ $1 last;
    }

    location ~ \.php$ {

        ## Catch 404s that try_files miss
        if (!-e $request_filename) {
            rewrite / /index.php last;
        }

        fastcgi_split_path_info         ^(.+\.php)(/.+)$;

        fastcgi_pass                    unix:/var/run/php5.6-fpm.sock;
        fastcgi_index                   index.php;

        ## Disable cache for php files
        expires        off;

        include fastcgi_params;
        fastcgi_param                   SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param                   MAGENTO_ROOT ${MAGENTO_ROOT};

        ## Tweak fastcgi buffers, just in case.
        fastcgi_buffer_size 128k;
        fastcgi_buffers 256 4k;
        fastcgi_busy_buffers_size 256k;
        fastcgi_temp_file_write_size 256k;
        fastcgi_read_timeout 600;

        proxy_read_timeout 600;

        add_header X-Config-By 'CopeX.io';
        add_header X-Frame-Options SAMEORIGIN;
        add_header X-Content-Type-Options nosniff;
        add_header X-XSS-Protection "1; mode=block";
        add_header X-UA-Compatible 'IE=Edge,chrome=1';
        add_header X-Processing-Time $request_time;
    }

}
