server {
    listen                      80 default_server;
    listen                      443 default_server http2 ssl;
    client_max_body_size        10M;

    server_name ${DOMAIN};

    ssl_certificate             /etc/nginx/ssl/cert.pem;
    ssl_certificate_key        /etc/nginx/ssl/cert.key;

    root                        ${MAGENTO_ROOT};
    index                       index.php;

    include /etc/nginx/conf.d/includes/default/*.conf;
    include /etc/nginx/conf.d/includes/magento/*.conf;

    include /etc/nginx/conf.d/M1/*.conf;

    location ~ \.php$ {
        include /etc/nginx/conf.d/includes/php/*.conf;
        fastcgi_param                   MAGENTO_ROOT ${MAGENTO_ROOT};
    }
}